* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    height: 80vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/backgroud.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.flip-card {
    width: 250px;
    height: 350px;
    background-color:transparent;
    perspective: 1000px;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(-180deg);
}

.flip-card .flip-card-back {
    transform: rotateY(-180deg);
}

.flip-card-inner {
    position: relative;
    transform-style: preserve-3d;
}

.flip-card-back,
.flip-card-front{
    position: absolute;
    backface-visibility: hidden;
}

.flip-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.flip-card-backgroud {
    width: 0;
    height: 0;
    display: flex;
    align-items: center;
}
